@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';


.root {
    height: 86vh;
    width: 100%;
    background-color: $color-blue;
    background: url('../../../veggies.jpg');
    z-index: -2;
    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .title {
            color: $color-white;
            margin: 0;
            padding: 30px 80px;
            font-family: $font-logo;
            font-size: 100px;
            border: 8px solid $color-white;
            border-radius: 20px;
            position: relative;
            background:rgba(160, 121, 121, 0.5);
            font-weight: 300;
        }
    }
}


@include tablet {
    .root {
       max-height: 50vh;
       margin-bottom: 22px;
       .overlay {
            .title {
                color: $color-white;
                margin: 0;
                padding: 30px 80px;
                font-family: $font-logo;
                font-size: 75px;
                border: 8px solid $color-white;
                border-radius: 20px;
                position: relative;
                background:rgba(160, 121, 121, 0.5);
                font-weight: 300;
            }
        }
    }
}

@include mobile {
    .root {
        display: none;
    }
}