@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
    display: flex;
    justify-content: space-between;
    background: $color-green;
    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    .icon {
        font-size: 24px;
        margin: 5px;
    }
    .leftBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 10px;
        h2 {
            margin-right: 10px;
        }
        .iconBox {
            .icon {
                cursor: pointer;
                color: $color-white;
                &:hover {
                    transform: scale(1.7);
                    transition: 2s all;
                }
            }
        }
    }
    .rightBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 10px;
        .cartLink {
            text-decoration: none;
            h2 {
                cursor: pointer;
                padding: 0 10px;
                color: $color-white;
            }
        }
    }
}



@include mobile {
    .root {
        flex-direction: column;
        .leftBar {
            padding-top: 3px;
            justify-content: space-between;
        }
        .rightBar {
            padding-right: 2px;
            justify-content: center;
            h2 {
                margin-right: 10px;
            }
        }
    }
}