@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';


.root {
  min-height: 486px;
  .cart {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    .cartLinkBox {
      font-size: 1rem;
      .cartLink {
      text-decoration: none;
      }
    }
    .cartItems {
      flex: 0.7;
      margin-right: 1rem;
    }
    .cartSummary {
      margin-right: 1rem;
      height: 150px;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      border-radius: 10px;
      border: 2px solid $color-dark-green;
      .summaryTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }
      
      .summaryPrice {
        display: flex;
        align-items: center;
      }
      .summaryPrice span:nth-child(1) {
        font-size: 1.2rem;
        flex: 0.6;
        font-weight: bold;
      }
      
      .summaryPrice span:nth-child(2) {
        flex: 0.4;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  } 
  .formBox {
    display: flex;
    justify-content: center;
    margin: 2rem 160px;
    border: 2px solid $color-dark-green;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    .addForm {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin: 40px 0;
      .formInput {
        margin: 20px 20px;
        border: 1px solid $color-dark-green;
        border-radius: 5px;
        padding: 10px;
        resize: none;
      }
      label {
          font-size: 16px;
          margin: 10px 20px;
      }
      .summaryCheckoutBtn {
        padding: 15px;
        font-size: 18px;
        border-radius: 16px;
        background-color: $color-dark-green;
        border: none;
        width: 210px;
        color: $color-white;
        margin: 20px;
        cursor: pointer;
        align-self: center;
      }
      .summaryCheckoutBtn:focus {
        outline: none;
      }
      .summaryCheckoutBtn:hover {
        opacity: 0.75;
      }
    }
  }
}

  
  
  
  
@include tablet {
  .root {
    min-height: 950px;
    .cart {
      width: 90%;
      flex-direction: column;
      .cartLinkBox {
        margin: 20px 5px;
      }
      .cartSummary {
        .summaryCheckoutBtn {
          margin-top: 20px;
        }
      }
    }
    .formBox {
      margin: 32px 48px 32px 40px;
      .addForm {
        width: 80%;
      }
    }
  }
}

@include mobile {
  .root {
    min-height: 400px;
    .cart {
      width: 90%;
      flex-direction: column;
      .cartLinkBox {
        margin: 20px 5px;
      }
      .cartSummary {
        .summaryCheckoutBtn {
          margin-top: 20px;
        }
      }
    }
    .formBox {
      margin: 30px 30px 30px 22px;
      .addForm {
        width: 100%;
      }
    }
  }
}
  
  
  
  
  
  
  
 
 
  