@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');


$base-size: 12px;
$color-violet: #a29bfe;
$color-blue: #0E0E0E;
$color-red: #d63031;
$color-dark-green: #4cb430;
$color-white: #f3f3f3;
$font-logo: 'Oswald', sans-serif;
$font-main: 'Arial', serif;
$color-green: linear-gradient(to right, #4cb430, rgb(37, 119, 7));

//#169A16;#009400#44bd32
//#009432


//linear-gradient(to right, #429c29, rgb(37, 119, 7));
